{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}
 <h1>{{ product.title }}</h1>
 <p>{{ product.body }}</p>
 <hr>
 <a href="/product/{{product.id}}/reviews/" class="dark">Покажи ревюта</ahref>
 <a href="/">Go Back</a>
{% endblock %}