<nav class="navbar navbar-expend-sm navbar-dark bg-primary mb3">
    <div class="container">
        <a href="/" class="navbar-brand">Продукти</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav"
        >
        <span class="navbar-toggle-icon">Навигация</span>
    </button>
    
    <div class="collapse navbar-collapse" id="mobile-nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/" class="nav-link">Продукти</a>
            </li>
            <li class="nav-item">
                <a href="/login/" class="nav-link">Вход</a>
            </li>
        </ul>
    </div>
    </div>
</nav>